* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 300px;

  margin: 0 auto;
}
input {
  display: block;
  margin: 8px auto;
  padding: 10px 20px;
  width: 400px;
  border-radius: 25px;
}
button {
  margin: 8px 10px;
  width: 100px;
  height: 35px;
}
a {
  display: block;
  text-align: right;
}

.main-wrapper {
  margin-top: 70px;
}

.btn-div {
  margin: 8px auto;
  display: flex;
  justify-content: center;
}
